
<script src="~/Scripts/ToDoTypeScript.js"></script>
<div class="form-inline">
    <input type="text" id="txtInputTask" placeholder="Enter Task" />
    <input type="button" value="Add" id="btnAdd" />
</div>

<ul id="List">

</ul>
