
<div class="form-group">
    <input type="button" class="btn-lg" value="Developer Skills" onclick="location.href='@Url.Action("RateDevSkills","Home")'" /><br/>
    <input type="button" class="btn-lg" value="Technical Skills" onclick="location.href='@Url.Action("RateTechSkills","Home")'" /><br/>
</div>


